body {
    font-family: cursive;
}
.font-size {
    font-size: 25px;
}
.font-size-2 {
    font-size: 25px;
}
.Card-colors {
    color: #222831;
}
.Card-colors-2 {
   color: #222831;
}
.Card-colors-3 {
    color: #222831;
}